        <!-- Header-->
        <header class="bg-light p-5">
            <div class="card-body" id="instructions">
                <h5 class="card-title">Kindly, read the following points before using the VaxElan server</h5>
                <ol class="mt-2">
                    <li class="card-text">Currently, you can submit more than one protein sequences in FASTA format (?) or one UniProt ID (?). Copy and paste your FASTA-formatted sequences into the textbox below or upload a file containing your sequences in FASTA format from your device.</li>
                    <li class="card-text">If you provide your email then you'll receive an email containing your result link after the server completes the analysis of your input. Otherwise, you can also bookmark the waiting page (appears right after you submit your input) to check your results later.</li>
                    <li class="card-text">There is a limit of 60 sequences per request to prevent the server from overloading. If your input contains more than 60 sequences then first 60 sequences will be considered and the rest will be ignored.</li>
                </ol> 
              </div>
        </header>