{% extends "layout.html" %}
{% block content %}
        <div class="mx-5">
            <h3>{{ routes.About.title }}</h3>
        </div>
        <div class="container mt-5">
            <div class="card p-5">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <h5 class="">{{ ui_text.about_details['name'] }}</h5>
                            <h5 class="">{{ ui_text.about_details['address'] }}</h5>
                            <h5><a href="mailto:{{ ui_text.about_details['email'] }}" class="text-decoration-none">{{ ui_text['about_details'].email }}</a></h5>
                            <h5 class="">{{ ui_text.about_details['university'] }}</h5></h5> 
                        </div>
                        <div class="embed-responsive embed-responsive-16by9 col-md-8">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3504.860405454418!2d77.33091981514305!3d28.543915294836953!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce44e80a9461b%3A0x302ec8d3d5cb8d1a!2sAmity%20University%20Noida!5e0!3m2!1sen!2sin!4v1664449229001!5m2!1sen!2sin" style="border:0; height: 100%; width:100%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class='embed-responsive-item'></iframe>
                         </div>  
                     </div>                        
             </div>
          </div>
        </div>
{% endblock %}